@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,600&family=Smooch&display=swap");

@font-face {
    font-family: "Amalfi Coast";
    src: url("../fonts/Amalfi-Coast.woff") format("woff2"), url("../fonts/Amalfi-Coast.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Monera Calm";
    src: url("../fonts/MoneraCalm.woff2") format("woff2"), url("../fonts/MoneraCalm.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin focus {
    &:focus {
        box-shadow: none;
    }
}
@mixin border-radius {
    border-radius: 7rem 0rem 0rem 0rem;
}
html {
    scroll-behavior: smooth;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: "Playfair Display", serif;
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding-left: 0;
    margin-bottom: 0;

    li {
        list-style-type: none;

        a {
            text-decoration: none;
        }
    }
}

a {
    text-decoration: none;
    color: var(--color-gray);
}

:root {
    --color-brown: #7a3910;
    --color-gray: #8e8e8e;
    --color-gray-footer: #f7f7f7;
    --color-dark-gray: #5e5e5e;
    --color-white: #fff;
    --color-gray-light: #f3f0f0;
    --color-gray-2: #c3c4c5;
    --color-black: #000;
}

//responsive breakpoints
$sm-breakpoint: 600px; //Small
$md-breakpoint: 768px; //Medium
$lg-breakpoint: 991px; //Large
$xl-breakpoint: 1200px; //Extra large
$xxl-breakpoint: 1400px; //Extra extra large

.speed-appointment {
    margin-top: -20rem;
    padding: 3.7rem 0rem;

    @media screen and(max-width:$lg-breakpoint) {
        padding: 1rem 0rem 1rem 0rem;
    }

    img {
        max-width: 15rem;
    }

    .text-area {
        padding-right: 0;

        @media screen and(max-width:$lg-breakpoint) {
            padding-left: 0;
            overflow: hidden;
        }

        .content {
            position: relative;
            background: rgb(224, 204, 117);
            background: linear-gradient(
                90deg,
                rgba(224, 204, 117, 1) 5%,
                rgba(227, 203, 112, 1) 30%,
                rgba(208, 166, 80, 1) 54%,
                rgba(157, 116, 50, 1) 80%
            );

            z-index: 999;
            padding: 3.5rem 2rem;
            @include border-radius;

            @media screen and(max-width:$lg-breakpoint) {
                margin-top: 0;
            }
            @media screen and(max-width:$lg-breakpoint) {
                margin-top: 0;
            }

            h3 {
                font-family: "Amalfi Coast";
                color: var(--color-white);
                font-size: 4.5rem;
                margin: 1rem 0rem 3rem 0rem;

                @media screen and(max-width:1366px) {
                    font-size: 3rem;
                }

                @media screen and(max-width:$sm-breakpoint) {
                    font-size: 2rem;
                }
            }

            .text {
                max-width: 30rem;

                p {
                    color: var(--color-white);
                    text-align: center;
                    font-weight: 500;
                    font-size: 1rem;

                    @media screen and(max-width:$sm-breakpoint) {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    .quick-appointment {
        background-color: var(--color-white);
        padding: 2rem 0rem;
        position: relative;
        z-index: 999;
        @include border-radius;
        -webkit-box-shadow: -1px 0px 22px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 0px 22px -10px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 0px 22px -10px rgba(0, 0, 0, 0.75);
        .row {
            margin-left: 0;
            margin-right: 0;
        }

        h3 {
            color: var(--color-brown);
            font-size: 2rem;
            position: relative;
            font-weight: 600;

            @media screen and(max-width:$sm-breakpoint) {
                margin-top: 1.3rem;
                font-size: 1.8rem;
            }
        }

        @media screen and(max-width:$lg-breakpoint) {
            margin-top: 0;
        }

        .row {
            padding: 2rem;

            img {
                object-fit: cover;
            }
        }

        form {
            .bootstrap-datetimepicker-widget table th {
                height: 30px;
            }

            .form-group {
                ::-webkit-input-placeholder {
                    /* Edge */
                    font-weight: 500;
                }

                .form-control {
                    border: none;
                    height: 3.5rem;
                    padding-left: 1.5rem;
                    -webkit-box-shadow: 3px 7px 23px -8px rgba(0, 0, 0, 0.42);
                    -moz-box-shadow: 3px 7px 23px -8px rgba(0, 0, 0, 0.42);
                    box-shadow: 3px 7px 23px -8px rgba(0, 0, 0, 0.42);
                    &::placeholder {
                        color: var(--color-brown);
                    }
                }
            }
        }

        .button-area {
            width: 100%;
            padding: 0rem 1rem;

            button {
                width: 100%;
                background-color: var(--color-brown);
                color: var(--color-white);
                font-weight: 600;
                letter-spacing: 0.2rem;
                font-size: 1.2rem;
                transition: 0.3s all;
                @include focus;

                &:hover {
                    background-color: var(--color-brown);
                }
            }
        }
    }
}

.our-services {
    position: relative;
    background-color: var(--color-white);
    -webkit-box-shadow: -1px 0px 22px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 22px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 22px -10px rgba(0, 0, 0, 0.75);
    margin-bottom: 1rem;
    padding: 5rem 2rem 10rem 2rem;
    .container {
        position: relative;
    }
    h2 {
        color: var(--color-brown);
        font-weight: 600;
        margin-bottom: 3rem;
        font-size: 2.3rem;
    }

    /* .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 0;

        @media screen and(min-width:2000px) {
            right: 10px !important;
        }

        @media screen and(max-width:$lg-breakpoint) {
            right: -1rem;
        }
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 0;

        @media screen and(min-width:2000px) {
            left: 10px !important;
        }

        @media screen and(max-width:$lg-breakpoint) {
            left: -1rem;
        }
    } */
    .swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: var(--color-white);

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            border-collapse: separate;
            border-radius: 7rem 0rem 0rem 0rem;
            overflow: hidden;

            &::after {
                content: "";
                width: 6.2rem;
                height: 5rem;
                background-color: var(--color-brown);
                position: absolute;
                right: 0rem;
                bottom: -1rem;
                border-radius: 15rem 0rem 0rem 0rem;
                transition: 0.2s all;
            }
            &:hover {
                &::after {
                    visibility: hidden;
                    opacity: 0;
                }
                .sub-content {
                    height: 100% !important;
                    display: block !important;
                    visibility: visible !important;
                    opacity: 1 !important;
                }
            }

            .service-img {
                display: block;
                width: 100%;
                height: 37rem;
                object-fit: cover;
            }
            .content-text {
                position: absolute;
                overflow: hidden;
                bottom: 0;
                width: 100%;
                text-align: left;
                padding: 1.5rem;
                transition: 0.5s all;
                .icon-image {
                    max-width: 5rem;
                }
                h4 {
                    color: var(--color-white);
                    font-weight: 600;
                    margin-left: 1rem;
                }
                .sub-content {
                    visibility: hidden;
                    opacity: 0;
                    height: 0rem;
                    display: none;
                    transition: 0.3s all;
                    .text {
                        margin-top: 1rem;
                        p {
                            color: var(--color-white);
                            font-size: 0.9rem;
                        }
                    }
                    i {
                        color: var(--color-white);
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        height: 3rem !important;
        width: 3rem !important;
        bottom: 3rem !important;
        top: inherit;
        @media screen and(max-width:1440px) {
            width: 2.5rem !important;
            height: 2.5rem !important;
        }
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: -4rem;
        @media screen and(max-width:1440px) {
            left: -2.5rem !important;
        }
        @media screen and(max-width:$xl-breakpoint ) {
            left: -1.5rem !important;
        }
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: -4rem;
        @media screen and(max-width:1440px) {
            right: -2.5rem !important;
        }
        @media screen and(max-width:$xl-breakpoint ) {
            right: -1.5rem !important;
        }
    }
}
.why-mjt {
    padding: 5rem 0rem 10rem 0rem;
    h2 {
        font-family: "Amalfi Coast";
        font-weight: 600;
        font-size: 2rem;
        color: var(--color-brown);
        margin-bottom: 2rem;
    }
    .video-area {
        padding-right: 0rem;

        .ugb-video-popup {
            position: relative;
            margin: 0 auto;
            width: 100%;
            max-width: 600px;
        }
        .ugb-video-preview,
        a,
        .ugb-play-button {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .ugb-video-preview {
            background-size: cover;
            background-position: center;
            opacity: 0.4;
            transition: all 0.3s ease-in-out;
            z-index: 1;
            object-fit: fill;
            width: 100%;
        }

        .ugb-video-wrapper {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%;
        }
        a {
            z-index: 3;
            box-shadow: none !important;
            background: transparent !important;
            display: block !important;
            color: #fff;
            text-decoration: none;
        }
        .ugb-play-button {
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        svg {
            fill: #fff !important;
        }
        .modal-open-link {
            font-family: sans-serif;
            font-size: 25px;
            color: #464646;
            width: 50px;
            height: 100px;
            line-height: 100px;
            text-align: center;
        }
    }
}

.before-after {
    padding: 5rem 2rem 10rem 2rem;
    position: relative;
    h2 {
        color: var(--color-brown);
        font-weight: 600;
        font-style: italic;
        font-size: 2.3rem;
        margin-bottom: 2rem;
    }
    p {
        color: var(--color-brown);
        font-size: 0.9rem;
        margin-bottom: 4rem;
    }
    .twentytwenty-handle {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .twentytwenty-container {
        height: 30rem !important;
        @include border-radius;
    }

    .twentytwenty-horizontal .twentytwenty-handle {
        &:before {
            margin-bottom: 34px;
        }
        &:after {
            margin-top: 34px;
        }
    }

    .twentytwenty-handle {
        height: 56px;
        width: 40px;
        margin-top: -34px;
    }
}

footer {
    background-color: var(--color-gray-footer);

    .contact-us {
        li {
            a {
                color: var(--color-white) !important;
            }
        }
    }

    .contact-us,
    .social-media {
        margin-bottom: 0;

        li {
            margin-right: 1rem;

            a {
                color: var(--color-brown);
                font-weight: 500;

                i {
                    font-size: 1.3rem;
                }

                img {
                    margin-right: 1rem;
                    max-width: 1.3rem;
                }
            }
        }
    }

    .footer-top {
        padding: 2.5rem 0rem;
        border-bottom: 1px solid var(--color-white);

        h3 {
            font-family: "Amalfi Coast";
            color: var(--color-white);
            font-size: 1rem;

            @media screen and(max-width:$xxl-breakpoint) {
                line-height: 3rem;
            }
        }

        .social-media {
            @media screen and(max-width:$lg-breakpoint) {
                margin-bottom: 1rem;
            }
        }

        form {
            .form-group {
                flex-flow: wrap;

                .form-control {
                    border: 3px solid var(--color-brown) !important;
                    background-color: transparent;
                    border-radius: 2.25rem;
                    color: var(--color-white);
                    width: 70%;
                    @include focus;

                    @media screen and(max-width:$xxl-breakpoint) {
                        width: 50%;
                    }

                    @media screen and(max-width:$lg-breakpoint) {
                        width: 72%;
                    }
                }

                .email-button {
                    margin-left: 1rem;

                    @media screen and(max-width:$sm-breakpoint) {
                        margin: 1rem 0rem 1rem 0rem;
                    }

                    button {
                        background-color: var(--color-brown);
                        color: var(--color-white);
                        border: none;
                        border-radius: 2.25rem;
                        padding: 0.8rem 3rem;
                        font-weight: 500;
                        font-size: 1.2rem;
                        transition: 0.3s all;

                        &:hover {
                            background-color: var(--color-gray);
                        }
                    }
                }
            }

            .form-check {
                margin-left: 0.5rem;

                .form-check-input {
                    margin-top: 0;
                    border: 3px solid var(--color-brown);
                    background-color: transparent;
                    margin-right: 0.5rem;

                    &:checked[type="checkbox"] {
                        background-color: var(--color-brown);
                    }

                    @include focus;
                }

                label {
                    margin-left: 0.2rem;
                    color: #ececec;
                    font-size: 1.1rem;
                    font-weight: 400;

                    a {
                        color: var(--color-white);
                        text-decoration: underline;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .footer-bottom {
        padding: 5rem 0rem;

        .brand {
            img {
                margin-bottom: 2rem;
            }
        }

        .contact-us {
            li {
                margin-bottom: 0.5rem;

                i {
                    color: var(--color-brown);
                    width: 2rem;
                }
            }
        }

        h5 {
            color: var(--color-white);
            letter-spacing: 0.1rem;
        }

        ul {
            li {
                a {
                    color: var(--color-dark-gray);

                    font-size: 1.1rem;
                    font-weight: 500;
                    transition: 0.2s;

                    @media screen and(max-width:$xxl-breakpoint) {
                        font-size: 1rem;
                    }

                    &:hover {
                        color: var(--color-brown);
                    }
                }
            }
        }
    }
}

.hover-icon {
    position: fixed;
    bottom: 1rem;
    right: 3rem;
    z-index: 999;
    width: 150px;
    height: 165px;

    @media screen and(max-width:$xl-breakpoint) {
        right: 0rem;
    }

    @media screen and(max-width:$lg-breakpoint) {
        right: 1rem;
        width: 100px;
        height: 50px;
    }

    img {
        max-width: 3rem;

        @media screen and(max-width:$lg-breakpoint) {
            max-width: 3rem;
            right: 1rem;
        }
    }

    &:hover {
        .social-item {
            transition: 0.3s all;
            opacity: 9 !important;
            visibility: visible !important;

            &:hover {
                background-color: var(--color-gray);
            }

            &:nth-child(1) {
                top: 3.6rem !important;
                left: 1rem !important;

                @media screen and(max-width:$lg-breakpoint) {
                    left: -0.5rem !important;
                    top: -1rem !important;
                }
            }

            &:nth-child(2) {
                left: 2.5rem !important;
                top: 1.5rem !important;

                @media screen and(max-width:$lg-breakpoint) {
                    left: 1.1rem !important;
                    top: -2.5rem !important;
                }
            }

            &:nth-child(3) {
                right: 2.5rem !important;
                top: 1.5rem !important;

                @media screen and(max-width:$lg-breakpoint) {
                    right: 1.1rem !important;
                    top: -2.5rem !important;
                }
            }

            &:nth-child(4) {
                top: 3.6rem !important;
                right: 1rem !important;

                @media screen and(max-width:$lg-breakpoint) {
                    right: -0.5rem !important;
                    top: -1rem !important;
                }
            }
        }
    }

    cursor: pointer;

    .social-box {
        .social-item {
            background: var(--color-brown);
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            transition: 0.3s all;
            opacity: 0;
            visibility: hidden;

            &:nth-child(1) {
                top: 4.6rem;
                left: 3rem;
                @media screen and(max-width:$lg-breakpoint) {
                    top: 1.6rem;
                }
            }

            &:nth-child(2) {
                top: 4.6rem;
                left: 3rem;
                @media screen and(max-width:$lg-breakpoint) {
                    top: 1.6rem;
                }
            }

            &:nth-child(3) {
                top: 4.6rem;
                right: 3rem;
                @media screen and(max-width:$lg-breakpoint) {
                    top: 1.6rem;
                }
            }

            &:nth-child(4) {
                top: 4.6rem;
                right: 3rem;
                @media screen and(max-width:$lg-breakpoint) {
                    top: 1.6rem;
                }
            }

            a {
                i {
                    font-size: 0.8rem;
                    color: var(--color-white);
                }
            }
        }
    }
}
