@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,600&family=Smooch&display=swap");

@font-face {
    font-family: "Amalfi Coast";
    src: url("../fonts/Amalfi-Coast.woff") format("woff2"), url("../fonts/Amalfi-Coast.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Monera Calm";
    src: url("../fonts/MoneraCalm.woff2") format("woff2"), url("../fonts/MoneraCalm.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Anybody";
    src: url("../fonts/Anybody-Regular.woff2") format("woff2"), url("../fonts/Anybody-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Anybody";
    src: url("../fonts/Anybody-Medium.woff2") format("woff2"), url("../fonts/Anybody-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Anybody";
    src: url("../fonts/Anybody-SemiBold.woff2") format("woff2"), url("../fonts/Anybody-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Anybody";
    src: url("../fonts/Anybody-ExtraLight.woff2") format("woff2"),
        url("../fonts/Anybody-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "adelia";
    src: url("../fonts/adelia.woff2") format("woff2"), url("../fonts/adelia.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin focus {
    &:focus {
        box-shadow: none;
    }
}
@mixin border-radius {
    border-radius: 7rem 0rem 0rem 0rem;
}
html {
    scroll-behavior: smooth;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: "Playfair Display", serif;
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding-left: 0;
    margin-bottom: 0;

    li {
        list-style-type: none;

        a {
            text-decoration: none;
        }
    }
}

a {
    text-decoration: none;
    color: var(--color-gray);
}

:root {
    --color-brown: #7a3910;
    --color-gray: #8e8e8e;
    --color-gray-footer: #f7f7f7;
    --color-dark-gray: #5e5e5e;
    --color-white: #fff;
    --color-gray-light: #f3f0f0;
    --color-gray-2: #c3c4c5;
    --color-black: #000;
    --color-yellow: #e1c167;
    --color-text-gray: #7c7c7c;
}

//responsive breakpoints
$sm-breakpoint: 600px; //Small
$md-breakpoint: 768px; //Medium
$lg-breakpoint: 991px; //Large
$xl-breakpoint: 1200px; //Extra large
$xxl-breakpoint: 1400px; //Extra extra large

header {
    position: relative;
    width: 100%;
    z-index: 9999999;
    .header-inner {
        height: 12rem;
        padding: 0rem 12rem;
        @media screen and(max-width:1440px) {
            padding: 0rem 4rem;
        }
        @media screen and(max-width:$xl-breakpoint) {
            height: 9rem;
            padding: 0rem 1rem;
        }

        .header-area {
            @media screen and(max-width:$xl-breakpoint) {
                justify-content: space-between !important;
            }
        }
        .container {
            position: relative;

            @media screen and(min-width:$xl-breakpoint) {
                height: 100%;
            }

            .row {
                height: 100%;
            }
        }

        &.sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #fffffffa;
            z-index: 999999;
            transition: 1s all;
            height: 6rem;
            .navbar-brand {
                img {
                    max-width: 10rem;
                    @media screen and(max-width:$xl-breakpoint) {
                        max-width: 9rem;
                    }
                }
            }
        }

        .navbar-brand {
            img {
                max-width: 17rem;
                object-fit: cover;
                transition: 0.3s all;

                @media screen and(max-width:1440px) {
                    max-width: 15rem;
                }
                @media screen and(max-width:$xl-breakpoint) {
                    max-width: 10rem;
                }
            }
        }
        nav {
            height: 100%;
            .nav-menu {
                @media screen and(min-width:$xl-breakpoint) {
                    height: 100%;
                }

                @media screen and(max-width:$xl-breakpoint) {
                    right: -130px;
                    padding: 2rem 1rem;
                    transition: 0.3s all;
                    width: 0%;
                    top: 6rem;
                    bottom: 0;
                    background-color: var(--color-white);
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column !important;
                    align-items: flex-start !important;
                    z-index: 9999;
                    position: fixed;
                }

                &.active {
                    right: 0;
                    width: 100%;
                }

                .navigation {
                    @media screen and(max-width:$xl-breakpoint) {
                        margin-left: 0rem !important;
                        flex-direction: column;
                        align-items: flex-start !important;
                    }

                    li {
                        @media screen and(min-width:$xl-breakpoint) {
                            height: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                        }
                        @media screen and(max-width:$xl-breakpoint) {
                            flex-direction: column !important;
                        }

                        a {
                            font-weight: 500;
                            font-size: 1.3rem;
                            color: var(--color-brown);
                            cursor: pointer;
                            display: inline-block;
                            position: relative;
                            padding: 1rem 0.8rem;
                            transition: 0.3s all;
                            &.active {
                                font-weight: bold;
                            }
                            &:hover {
                                color: var(--color-yellow);
                            }
                            @media screen and(max-width:1440px) {
                                font-size: 1.2rem;
                                padding: 1rem 0.7rem;
                            }

                            @media screen and(min-width:1366px) and (max-width: 1400px) {
                                font-size: 1.1rem;
                            }
                            @media screen and(max-width:$lg-breakpoint) {
                                padding: 0.3rem 0.7rem;
                            }
                        }
                    }
                }
            }
        }
        .social-media {
            margin-top: 2rem;
            padding-left: 0.7rem;
            @media screen and(max-width:$lg-breakpoint) {
                justify-content: center !important;
            }
            span {
                color: var(--color-brown);
                font-size: 1rem;
                font-weight: 500;
            }
            ul {
                margin-top: 0.7rem;
                li {
                    margin-right: 1rem;
                    a {
                        transition: 0.3s all;
                        color: var(--color-brown);
                        &:hover {
                            color: var(--color-yellow);
                        }
                        i {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
        .right-area {
            .search-area {
                cursor: pointer;
                img {
                    max-width: 1.5rem;
                    object-fit: cover;
                    @media screen and(max-width:$lg-breakpoint) {
                        max-width: 1.3rem;
                    }
                }
            }
            .menu-bar {
                cursor: pointer;
                i {
                    color: var(--color-brown);
                    font-size: 1.5rem;
                    @media screen and(max-width:$lg-breakpoint) {
                        font-size: 1.3rem;
                    }
                }
            }
            .language {
                cursor: pointer;
                span {
                    font-weight: 700;
                    font-size: 0.9rem;
                }
            }
        }
    }
}

#search-box {
    visibility: hidden;
    height: 100%;
    width: 100%;
    //background: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999999;

    .container {
        display: table;
        width: 100%;
        height: 100%;
        .close {
            position: absolute;
            right: 32px;
            top: 32px;
            width: 32px;
            height: 32px;
            opacity: 0.3;
        }
        .close:hover {
            opacity: 1;
        }
        .close:before,
        .close:after {
            position: absolute;
            left: 15px;
            content: " ";
            height: 33px;
            width: 2px;
            background-color: white;
        }
        .close:before {
            transform: rotate(45deg);
        }
        .close:after {
            transform: rotate(-45deg);
        }
        .search-main {
            display: table-cell;
            vertical-align: middle;
            .search-inner {
                width: 80%;
                margin: 0 auto;
            }

            form {
                position: relative;
            }
            input {
                background: transparent;
                border: none;
                box-shadow: none;
                padding: 12px 74px 12px 0;
                font-size: 2rem;
                height: 84px;
                border-bottom: 2px solid white;
                display: block;
                color: white;
                margin-bottom: 0;
                width: 100%;
                transform: scale3d(0, 1, 1);
                transform-origin: 0% 50%;
                transition: transform 3s;
                &:focus {
                    outline: none;
                }
            }

            button {
                border: 0;
                left: auto;
                outline: none;
                padding: 0;
                position: absolute;
                right: 0;
                top: 0.3em;
                bottom: 0.3em;
                background: transparent;
                font-size: 43px;
            }
            .search-info {
                display: block;
                color: white;
                text-align: right;
                float: right;
                margin-top: 4px;
                font-size: 1rem;
            }
        }
    }

    &.-open {
        background: rgba(0, 0, 0, 0.8);
        visibility: visible;
        animation: fadein 0.8s;
        .container {
            .search-main {
                input {
                    transform: scale3d(1, 1, 1);
                    transition-duration: 1s;
                    //transition-delay: 2s;
                }
            }
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.services-menu {
    #toggle-btn {
        position: absolute;
        left: 2rem;
        top: 1rem;
        display: none;
        background-color: transparent;
        border: none;

        @media screen and(max-width:$xl-breakpoint) {
            display: block !important;
        }

        i {
            font-size: 1.5rem;
            color: var(--color-yellow);
        }
    }
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: var(--color-white);
    z-index: 9999999999;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    @media screen and(max-width:$sm-breakpoint) {
        left: 0;
    }
    /* Scrollbar Styling */
    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background-color: #ebebeb;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: var(--color-text-gray);
    }
    .menu-bar {
        position: absolute;
        z-index: 9999999;
        right: 2rem;
        top: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
        i {
            color: var(--color-text-gray);
        }
    }
    .list {
        display: none;
    }
    .left-area {
        position: relative;
        z-index: 99;
        &::before {
            content: "";
            background-color: #6e6e6ece;
            height: 90%;
            width: 80%;
            position: absolute;
            z-index: -1;
        }
        img {
            max-width: 25rem;
            @media screen and(max-width:$xl-breakpoint) {
                max-width: 15rem;
            }
        }
    }
    .right-area {
        padding: 4rem 3rem;
        @media screen and(max-width:$sm-breakpoint) {
            padding: 2 1rem;
        }
        img {
            max-width: 3.4rem;
            @media screen and (max-width: 1440px) {
                max-width: 2.3rem;
            }
        }
        a {
            color: var(--color-text-gray);
        }
        span {
            margin-top: 1rem;
            font-weight: 600;
            font-size: 1rem;
            text-align: center;
            @media screen and (max-width: 1440px) {
                font-size: 0.9rem;
            }
        }
    }
}

.banner {
    overflow: hidden;
    padding: 4rem;
    width: 100%;
    overflow: hidden;
    min-height: calc(100vh - 130px);
    position: relative;
    -webkit-box-shadow: -1px 0px 22px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 22px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 22px -10px rgba(0, 0, 0, 0.75);
    @media screen and(max-width:1440px) {
        padding: 2rem;
    }
    @media screen and(max-width:1024px) {
        min-height: 70vh !important;
    }

    .swiper {
        border-radius: 6rem 0 0 0;
        width: 100%;
        height: 100vh;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        @media screen and(max-width:$lg-breakpoint) {
            height: 70vh !important;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: end;
            padding-left: 4.5rem;
            position: relative;
            z-index: 99;
            &::before {
                content: "";
                background-color: rgba(0, 0, 0, 0.219);
                position: absolute;
                height: 100%;
                bottom: 0;
                width: 100%;
                top: 0;
                left: 0;
                z-index: -1;
            }

            @media screen and(max-width:$xl-breakpoint) {
                padding-left: 0rem;
                padding: 2rem;
            }
            .content {
                margin-bottom: 12rem;
                @media screen and(max-width:$xl-breakpoint) {
                    margin-bottom: 0rem;
                }
                .text {
                    margin-top: 3rem;
                    max-width: 55rem;
                    @media screen and(max-width:$sm-breakpoint) {
                        margin-top: 1rem;
                    }
                    p {
                        color: var(--color-white);
                        font-style: italic;
                        font-size: 1rem;
                        @media screen and(max-width:$sm-breakpoint) {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        left: inherit !important;
        width: 0% !important;
        right: 0 !important;
    }

    .swiper-pagination {
        padding-right: 5rem;
        z-index: 999999;
        @media screen and(max-width:$lg-breakpoint) {
            padding-right: 2.5rem;
        }

        .swiper-pagination-bullet-active {
            background-color: var(--color-white) !important;
        }

        .swiper-pagination-bullet {
            margin-bottom: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            opacity: 9;
            width: 0.8rem;
            height: 0.8rem;
            background-color: transparent;

            &::before {
                height: 39px;
                display: flex;
                justify-content: center;
                align-items: center;

                content: "";
                position: absolute;
                z-index: -1;
                background-color: var(--color-white);
                width: 2px;
            }
        }
    }
}

.fast-link {
    margin-top: -13rem;
    position: relative;
    z-index: 999;
    position: relative;
    overflow: hidden;
    @media screen and(max-width:1440px) {
        margin-top: -10rem;
    }
    @media screen and(max-width:$xl-breakpoint) {
        margin-top: 2rem;
    }
    .box {
        height: 21rem;
        background: rgb(224, 204, 117);
        padding: 2rem 0;
        border-radius: 3rem 0 0 0;
        @media screen and(max-width:$lg-breakpoint) {
            border-radius: 0;
        }
        background: rgb(224, 203, 116);
        background: linear-gradient(
            90deg,
            rgba(224, 203, 116, 1) 5%,
            rgba(230, 213, 123, 1) 30%,
            rgba(225, 195, 106, 1) 54%,
            rgba(190, 147, 68, 1) 80%
        );

        .icon {
            img {
                width: 5rem;
                height: 5rem;
                object-fit: contain;
                @media screen and(max-width:1440px) {
                    width: 4.5rem;
                    height: 4.5rem;
                }
            }
        }
        a {
            width: 100%;
            display: flex;
            justify-content: center;
            h5 {
                color: var(--color-white);
                font-weight: 700;
                text-align: center;
                font-size: 1.6rem;
                margin-top: 3rem;
                text-align: center;
                max-width: 10rem;
                @media screen and(max-width:1440px) {
                    font-size: 1.3rem;
                }
                @media screen and(max-width:$lg-breakpoint) {
                    max-width: 100%;
                }
            }
        }
    }
}

.why-mjt {
    padding: 10rem 0rem;
    position: relative;
    overflow: hidden;
    @media screen and(max-width:$xl-breakpoint) {
        padding: 4rem 0rem;
    }
   
    .title {
        margin-bottom: 7rem;
        @media screen and(max-width:$lg-breakpoint) {
            margin-bottom: 4rem;
        }
        h2 {
            font-family: "adelia";
            text-align: center;
            color: var(--color-text-gray);
            @media screen and(max-width:$xl-breakpoint) {
                font-size: 1.5rem;
            }
            @media screen and(max-width:$lg-breakpoint) {
                font-size: 1.3rem;
            }
        }
    }
    .box {
        .icon {
            background: rgb(224, 203, 116);
            background: linear-gradient(
                90deg,
                rgba(224, 203, 116, 1) 5%,
                rgba(230, 213, 123, 1) 30%,
                rgba(225, 195, 106, 1) 54%,
                rgba(190, 147, 68, 1) 80%
            );
            border-radius: 50%;
            height: 8rem;
            width: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and(max-width:$xl-breakpoint) {
                height: 7rem;
                width: 7rem;
            }
            img {
                height: 4rem;
                width: 4rem;
                object-fit: contain;
                @media screen and(max-width:$xl-breakpoint) {
                    height: 3rem;
                    width: 3rem;
                }
            }
        }
        h5 {
            margin: 2rem 0rem 1rem 0rem;
            color: var(--color-text-gray);
            font-weight: 700;
            font-size: 1.5rem;
            @media screen and(max-width:1366px) {
                font-size: 1.3rem;
            }
            @media screen and(max-width:$lg-breakpoint) {
                font-size: 1.2rem;
            }
        }
        p {
            text-align: center;
            font-weight: 300;
            font-size: 1rem;
            color: var(--color-text-gray);
            @media screen and(max-width:$lg-breakpoint) {
                font-size: 0.9rem;
            }
        }
    }
}

.our-services {
    position: relative;
    background-color: var(--color-white);
    -webkit-box-shadow: -1px 0px 22px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 22px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 22px -10px rgba(0, 0, 0, 0.75);
    margin-bottom: 1rem;
    padding: 5rem 2rem 10rem 2rem;
    @media screen and(max-width:$xl-breakpoint) {
        padding: 3rem 2rem 4rem 2rem;
    }

    .container {
        position: relative;
    }
    .title-top {
        h2 {
            color: var(--color-text-gray);
            font-weight: 600;
            margin-bottom: 6rem;
            font-size: 2.3rem;
            position: relative;
            text-align: center;
            @media screen and(max-width:$lg-breakpoint) {
                font-size: 1.6rem;
            }
        }

        @media screen and(max-width:$lg-breakpoint) {
            flex-flow: wrap;
            h2 {
                margin-bottom: 4rem;
            }
            p {
                padding-left: 0rem !important;
            }
        }
    }
    .swiper-container {
        @media screen and(max-width:$lg-breakpoint) {
            position: relative !important;
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
        @media screen and(max-width:$lg-breakpoint) {
            padding: 0rem 1rem;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: var(--color-white);

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            border-collapse: separate;
            border-radius: 7rem 0rem 0rem 0rem;
            overflow: hidden;
            position: relative;
            z-index: 99;

            .service-img {
                display: block;
                width: 100%;
                height: 18rem;
                object-fit: cover;
            }
            .content-text {
                width: 100%;
                text-align: center;
                transition: 0.5s all;
                z-index: 99;
                @media screen and(max-width:$lg-breakpoint) {
                    padding: 1rem;
                    h4 {
                        font-size: 1.1rem;
                    }
                    .icon-image {
                        max-width: 2.5rem !important;
                    }
                }
                .title {
                    margin-top: 2rem;
                    .icon-image {
                        max-width: 3.5rem;
                        @media screen and(max-width:$lg-breakpoint) {
                            max-width: 2.5rem;
                        }
                    }
                    h4 {
                        color: var(--color-text-gray);
                        font-weight: 600;
                        margin-left: 1rem;
                        font-size: 1.5rem;
                        @media screen and(max-width:$lg-breakpoint) {
                            font-size: 1.3rem;
                        }
                    }
                }

                .sub-content {
                    transition: 0.3s all;
                    .text {
                        margin: 2rem 0rem;
                        p {
                            color: var(--color-text-gray);
                            font-size: 0.9rem;
                            font-weight: 300;
                            text-align: center;
                        }
                    }
                    a {
                        color: var(--color-text-gray);
                        font-weight: 600;
                        font-size: 1rem;
                        @media screen and(max-width:$sm-breakpoint) {
                            font-size: 0.9rem;
                        }
                    }
                    i {
                        color: var(--color-brown);
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        height: 2rem !important;
        width: 2rem !important;
        @media screen and(max-width:$sm-breakpoint ) {
            height: 1.5rem !important;
            width: 1.5rem !important;
        }
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: -4rem;
        @media screen and(max-width:1440px) {
            left: -2.5rem !important;
        }
        @media screen and(max-width:$xl-breakpoint ) {
            left: -1.5rem !important;
        }
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: -4rem;
        @media screen and(max-width:1440px) {
            right: -2.5rem !important;
        }
        @media screen and(max-width:$xl-breakpoint ) {
            right: -1.5rem !important;
        }
    }
}

footer {
    background-color: var(--color-gray-footer);

    .contact-us {
        li {
            a {
                color: var(--color-white) !important;
            }
        }
    }

    .contact-us,
    .social-media {
        margin-bottom: 0;

        li {
            margin-right: 1rem;

            a {
                color: var(--color-brown);
                font-weight: 500;

                i {
                    font-size: 1.3rem;
                }

                img {
                    margin-right: 1rem;
                    max-width: 1.3rem;
                }
            }
        }
    }

    .footer-top {
        padding: 2.5rem 0rem;
        border-bottom: 1px solid var(--color-white);

        h3 {
            font-family: "Amalfi Coast";
            color: var(--color-white);
            font-size: 1rem;

            @media screen and(max-width:$xxl-breakpoint) {
                line-height: 3rem;
            }
        }

        .social-media {
            @media screen and(max-width:$lg-breakpoint) {
                justify-content: center !important;
            }
            li {
                a {
                    transition: 0.3s all;
                    &:hover {
                        color: var(--color-yellow);
                    }
                    i {
                        font-size: 1.7rem;
                    }
                }
            }
            @media screen and(max-width:$lg-breakpoint) {
                margin-bottom: 1rem;
            }
        }

        form {
            .form-group {
                flex-flow: wrap;
                &.email-group {
                    @media screen and(max-width:$lg-breakpoint) {
                        justify-content: center;
                    }
                }
                .form-control {
                    border: 2px solid var(--color-brown) !important;
                    background-color: transparent;
                    border-radius: 1.5rem 0rem 0rem 0rem;

                    width: 70%;
                    @include focus;

                    @media screen and(max-width:$xxl-breakpoint) {
                        width: 50%;
                    }

                    @media screen and(max-width:$lg-breakpoint) {
                        width: 72%;
                    }
                }

                .email-button {
                    margin-left: 1rem;

                    @media screen and(max-width:$sm-breakpoint) {
                        margin: 1rem 0rem 1rem 0rem;
                    }

                    button {
                        background-color: var(--color-brown);
                        color: var(--color-white);
                        border: none;
                        border-radius: 2rem 0rem 0rem 0rem;
                        padding: 0.5rem 3rem;
                        font-weight: 500;
                        font-size: 1.2rem;
                        transition: 0.3s all;
                        font-family: "Anybody";
                        @media screen and(max-width:$sm-breakpoint) {
                            border-radius: 0rem 2rem 0rem 0rem;
                            padding: 0.6rem 0.8rem;
                            font-size: 0.9rem;
                        }
                        &:hover {
                            background-color: var(--color-yellow);
                        }
                    }
                }
            }

            .form-check {
                margin-left: 0.5rem;
                margin-top: 0.5rem;
                @media screen and(max-width:$sm-breakpoint) {
                    flex-flow: inherit;
                    padding-left: 2rem;
                }

                .form-check-input {
                    margin-top: 0;
                    border: 2px solid var(--color-brown);
                    background-color: transparent;
                    margin-right: 0.5rem;
                    border-radius: 5rem;

                    &:checked[type="checkbox"] {
                        background-color: var(--color-brown);
                    }

                    @include focus;
                }

                label {
                    margin-left: 0.2rem;
                    color: var(--color-brown);
                    font-size: 1.1rem;
                    font-weight: 400;
                    @media screen and(max-width:$sm-breakpoint) {
                        font-size: 0.9rem;
                    }
                    @media screen and(max-width:320px) {
                        margin-top: 1.5rem;
                    }

                    a {
                        color: var(--color-brown);
                        text-decoration: underline;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .footer-bottom {
        padding: 5rem 0rem;
        @media screen and(max-width:$lg-breakpoint) {
            padding: 3rem 1rem;
        }

        .brand {
            img {
                margin-bottom: 2rem;
                max-width: 16rem;
                object-fit: cover;
                @media screen and(max-width:$xl-breakpoint) {
                    max-width: 12rem;
                }
            }
        }

        .column {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                height: 80%;
                width: 1px;
                background-color: var(--color-brown);
                right: 0;
                margin-top: 1rem;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
            @media screen and(max-width:$lg-breakpoint) {
                justify-content: flex-start !important;
                margin-top: 1rem;
                &::after {
                    display: none;
                }
            }
        }

        .contact-us {
            li {
                margin-bottom: 0.5rem;
                a {
                    color: var(--color-text-gray) !important;
                    font-family: "Anybody";
                    font-size: 1rem;
                    &:hover {
                        color: var(--color-yellow) !important;
                    }
                    @media screen and(max-width:$sm-breakpoint) {
                        font-size: 0.8rem;
                    }
                }
                i {
                    color: var(--color-brown);
                    width: 2rem;
                }
            }
        }

        h5 {
            color: var(--color-brown);
            letter-spacing: 0.1rem;
            font-family: "Anybody";
            font-size: 1.4rem;
            @media screen and(max-width:$sm-breakpoint) {
                font-size: 1.2rem;
            }
        }

        ul {
            li {
                a {
                    color: var(--color-text-gray);
                    font-size: 1rem;
                    font-weight: 400;
                    transition: 0.2s;

                    @media screen and(max-width:$xxl-breakpoint) {
                        font-size: 1rem;
                    }
                    @media screen and(max-width:$sm-breakpoint) {
                        font-size: 0.8rem;
                    }

                    &:hover {
                        color: var(--color-yellow);
                    }
                }
            }
        }
    }
    .copyright {
        padding: 1rem 0rem;
        border-top: 1px solid var(--color-white);
        .text-area {
            @media screen and(max-width:$sm-breakpoint) {
                justify-content: center !important;
                align-items: center !important;
                display: flex;
            }
            span {
                font-size: 0.9rem;
                font-family: "Anybody";
                font-weight: 400;
                @media screen and(max-width:1440px) {
                    font-size: 0.9rem;
                }
                @media screen and(max-width:$sm-breakpoint) {
                    font-size: 0.7rem;
                }
            }
        }

        .logo-area {
            @media screen and(max-width:$sm-breakpoint) {
                justify-content: center !important;
                align-items: center !important;
                display: flex;
            }
            img {
                max-width: 3rem;
                filter: invert(1);
                object-fit: cover;

                @media screen and(max-width:$sm-breakpoint) {
                    max-width: 2rem;
                }
            }
        }
    }
}

.hover-icon {
    position: fixed;
    bottom: 1rem;
    right: 3rem;
    z-index: 999;
    width: 150px;
    height: 165px;

    @media screen and(max-width:$xl-breakpoint) {
        right: 0rem;
    }

    @media screen and(max-width:$lg-breakpoint) {
        right: 1rem;
        width: 100px;
        height: 50px;
    }

    img {
        max-width: 3rem;

        @media screen and(max-width:$lg-breakpoint) {
            max-width: 3rem;
            right: 1rem;
        }
    }

    &:hover {
        .social-item {
            transition: 0.3s all;
            opacity: 9 !important;
            visibility: visible !important;

            &:hover {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    background-color: var(--color-yellow);
                    transform: scale(1.3);
                }
            }

            &:nth-child(1) {
                top: 3.6rem !important;
                left: 1rem !important;

                @media screen and(max-width:$lg-breakpoint) {
                    left: -0.5rem !important;
                    top: -1rem !important;
                }
            }

            &:nth-child(2) {
                left: 2.5rem !important;
                top: 1.5rem !important;

                @media screen and(max-width:$lg-breakpoint) {
                    left: 1.1rem !important;
                    top: -2.5rem !important;
                }
            }

            &:nth-child(3) {
                right: 2.5rem !important;
                top: 1.5rem !important;

                @media screen and(max-width:$lg-breakpoint) {
                    right: 1.1rem !important;
                    top: -2.5rem !important;
                }
            }

            &:nth-child(4) {
                top: 3.6rem !important;
                right: 1rem !important;

                @media screen and(max-width:$lg-breakpoint) {
                    right: -0.5rem !important;
                    top: -1rem !important;
                }
            }
        }
    }

    cursor: pointer;

    .social-box {
        .social-item {
            background: var(--color-brown);
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            transition: 0.3s all;
            opacity: 0;
            visibility: hidden;

            &:nth-child(1) {
                top: 4.6rem;
                left: 3rem;
                @media screen and(max-width:$lg-breakpoint) {
                    top: 1.6rem;
                }
            }

            &:nth-child(2) {
                top: 4.6rem;
                left: 3rem;
                @media screen and(max-width:$lg-breakpoint) {
                    top: 1.6rem;
                }
            }

            &:nth-child(3) {
                top: 4.6rem;
                right: 3rem;
                @media screen and(max-width:$lg-breakpoint) {
                    top: 1.6rem;
                }
            }

            &:nth-child(4) {
                top: 4.6rem;
                right: 3rem;
                @media screen and(max-width:$lg-breakpoint) {
                    top: 1.6rem;
                }
            }

            a {
                i {
                    font-size: 0.8rem;
                    color: var(--color-white);
                }
            }
        }
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
